<header>
  <h1>Edit Project</h1>
</header>

<%= simple_form_for @project do |form| %>

  <% if @project.errors.any? %>
    <ul style="color: #ff0000;">
      <% @project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>

  <!-- Labels are coming from simple form gem -->
  <%= form.input :name %>
  <%= form.input :description %>

  <%= form.button :submit, class: "btn-primary" %>
<% end %>